<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<div class="container">
    <h2>Currency Converter</h2>
    <form id="currency-form" action="/" method="POST">
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" step="0.0001" min="0.0001" required>
        </div>
        <div class="form-group">
            <label for="from">From:</label>
            <select id="from" name="from" required>
                <option value="amd">AMD Армянский драм</option>
                <option value="byn">BYN Белорусский рубль</option>
                <option value="aed">AED Дирхам ОАЭ</option>
                <option value="usd">USD Доллар США</option>
                <option value="eur">EUR Евро</option>
                <option value="kzt">KZT Казахстанский тенге</option>
                <option value="cny">CNY Китайский юань</option>
                <option value="rub">RUB Российский рубль</option>
                <option value="try">TRY Турецкая лира</option>
                <option value="uah">UAH Украинская гривна</option>
                <option value="gbp">GBP Фунт стерлингов</option>
                <option value="jpy">JPY Японская иена</option>
            </select>
        </div>
        <div class="form-group">
            <label for="to">To:</label>
            <select id="to" name="to" required>
                <option value="amd">AMD Армянский драм</option>
                <option value="byn">BYN Белорусский рубль</option>
                <option value="aed">AED Дирхам ОАЭ</option>
                <option value="usd">USD Доллар США</option>
                <option value="eur">EUR Евро</option>
                <option value="kzt">KZT Казахстанский тенге</option>
                <option value="cny">CNY Китайский юань</option>
                <option value="rub">RUB Российский рубль</option>
                <option value="try">TRY Турецкая лира</option>
                <option value="uah">UAH Украинская гривна</option>
                <option value="gbp">GBP Фунт стерлингов</option>
                <option value="jpy">JPY Японская иена</option>
            </select>
        </div>
        <button type="submit">Convert</button>
    </form>
    <div class="result" id="result">
        {{ result }}
    </div>
</div>

</body>

</html>
